[includeIf "gitdir:~/Developer/personal/"]
    path = ~/.config/git/.gitconfig-personal

[includeIf "gitdir:~/Developer/work/"]
    path = ~/.config/git/.gitconfig-work

[includeIf "gitdir:/Users/"]
    path = ~/.config/git/.gitconfig-macos

[includeIf "gitdir:C:/"]
    path = ~/.config/git/.gitconfig-windows

[includeIf "gitdir:/home/"]
    path = ~/.config/git/.gitconfig-linux

[core]
    excludesfile = ~/.config/git/.gitignore

