[includeIf "gitdir/i:~/Developer/personal/"]
    path = $HOME/.config/git/.gitconfig-personal

[includeIf "gitdir/i:~/Developer/work/"]
    path = $HOME/.config/git/.gitconfig-work

[core]
    excludesfile = $HOME/.config/git/.gitignore
[user]
	name = sunaboi
	email = sunaboi@sunaboi.xyz
